ul {
  list-style-type: none;
  margin: 60px;
  margin-left: 0px;
  padding: 0;
  width: 17%;
  background-color: #131C6B;
  position: fixed;
  border: 1px solid #555;
  height: 100%;
  overflow: auto;
}

ul li a {
  display: block;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  background-color: #AFACA6;
  border-bottom: 1px solid #555;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #131C6B;
  font-size: 40px;
  color: #FFFFFF; 
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  margin-top: 1rem;
  color: #FFFFFF;
  font-size: 20px;
}

.chart {
  top: 110px;
  position: absolute;
  padding: 10px;
  width: 800px;
  height: 300px;
  margin-left: 360px;
}

.patron {
  position: fixed;  
  top: 20%;
  left: 20%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.patron th {
  border: 1px solid #000000;
  background-color: #131C6B;
  text-align: center;
  font-family: Calibri;
  font-style: normal;
  color: #FFFFFF;
  padding: 8px;
}

.patron td {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}

.search {
  position: fixed;
  top: 13%;
  left: 20%;
  background: #E8E7E7;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search input {
  background-color:  #E8E7E7;
  width: 430px;
}

.books {
  position: fixed;  
  top: 20%;
  left: 19%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.books th {
  border: 1px solid #000000;
  background-color: #131C6B;
  text-align: center;
  font-family: Calibri;
  font-style: normal;
  color: #FFFFFF;
  padding: 8px;
}

.books td {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

.click {
  position: fixed;
  top: 13%;
  left: 19%;
  background: #E8E7E7;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.click input {
  background-color:  #E8E7E7;
  width: 430px;
}

.edit {
  border: none;
  color: white;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #1839B0;
}

.delete {
  border: none;
  color: white;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #D90A0A;
}

.borrow {
  border: none;
  color: white;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #827070;
}

.return {
  border: none;
  color: white;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #D1770C;
}

.add {
  position: absolute;
  bottom: 104%;
  left: 44%;
  padding: 5px 28px;
  background: #E8E7E7;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.addbook {
  position: absolute;
  bottom: 106%;
  left: 68%;
  padding: 5px 28px;
  background: #E8E7E7;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

input:hover {
  background-color: #555;
  color: white;
}

.containerpatron {
  position: absolute;
  top: 11%;
  left: 65%;
  font-size: 14px;
  cursor: pointer;
}

.containerbooks {
  position: absolute;
  top: 11%;
  left: 88%;
  font-size: 14px;
  cursor: pointer;
}
