
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: #131C6B;
  position: fixed;
  border: 1px solid #555;
  height: 100%;
  overflow: auto;
}

ul li a {
  display: block;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  background-color: #AFACA6;
  border-bottom: 1px solid #555;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

.container {
  width: 200px;
  height: 60px;
  background-color: #131C6B;
  font-size: 40px;
  color: #FFFFFF; 
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  margin-top: 1rem;
  color: #FFFFFF;
  font-size: 20px;
}

.chart{
  margin: 10px auto;
  width: 800px;
  height: 300px;
  margin-left: 360px;
}
